<ion-content> 
  <div id="wrap">
    <ion-header>
      <header>
        <div class="logo" routerLink="/home"> <img src="../../../assets/img/logo-con-letras.png"></div>
        <div id="menu-adaptado" >
          <ul>
            <li class="burger" (click)="toggleMenu()"> 
              <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
            </li>
          <li class="menu" [class.is-open]="isMenuOpen">        
            <a routerLink="/home" class="menu-item">Inicio</a>
            <a routerLink="/quienes-somos" class="menu-item">Quiénes somos</a>
            <a routerLink="/nuestros-trabajos" class="menu-item">Nuestro trabajos</a>
            <a routerLink="/catalogo" class="menu-item">Catálogo</a>       
            <a *ngIf="logeado && logeado.id === 0" routerLink="/registro" class="menu-item">Registrate</a>
            <a  *ngIf="logeado && logeado.id === 0" routerLink="/iniciar-sesion" class="menu-item" >Ingresar</a>
            <a  *ngIf="logeado && logeado.tipo === 'admin'" routerLink="/admin" class="menu-item" >Admin</a>
            <div routerLink="/detalle-cotizacion" id="cart" class="cart" data-totalitems="0">
              <img src="../../../assets/img/cart-icon.png">
            </div><!---cierre logo carrito-->
          </li> <!----cierre menu-->
        </ul> 
        
        </div><!--CIERRE MENU -->
        <li *ngIf="logeado && logeado.id != 0" class="logoCerrarSesion"><img src="../../../assets/img/logout.png" (click)="logOut()"><p>Cerrar Sesión</p></li>   
    
        <div class="haztucotizacion" routerLink="/catalogo"><a>Haz tú cotización</a></div>
       
    
    </header>
    </ion-header> 

  <div id="contenido">
    <h1>Catálogo Ventanas</h1>
  <section >    
      <ul id="contenido-producto">          

          <li *ngFor="let catalogo of catalogos">
            <div class="contenedor-img">
              <img [src]="getImagenUrl(catalogo.imagen)">
            </div>
            
            <h5>Ventana  {{catalogo.nom_cata}}</h5>
            <p>{{catalogo.descripcion}}</p>
          
            
            <button [routerLink]="['/cotizacion/'+ catalogo.id]">Cotizar</button>          
          </li>
        </ul>  
  </section> 
      
</div><!--------cierre contenido-->
  
    
  <footer>

    <div class="footer-izq">
  
      <img src="../../../assets/img/logo-footer.png">
      <div class="parrafo-footer" ><p>Con 2 años de experiencia fabricando ventanas de la mejor calidad.</p></div>
      <div class="faq" ><img src="../../../assets/img/faq.png"><a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a></div>
  
    </div>
    <div class="v-line"></div>
  
    <div class="footer-der">
      <h4>Contáctanos</h4>
      <ul>
        <li><img src="../../../assets/img/whatsapp.png">+56 965789532</li>
        <li><img src="../../../assets/img/correo.png"> <a class="btn-mail" routerLink="/contacto">Contáctanos</a></li>
      </ul>
    </div>
    <div class="footer-centro"><p>Derechos Reservados Ventanas Técnicas 2023 ©</p></div>
   </footer> 
  </div><!--------CIERRE WRAP ------>
  </ion-content>
  