<ion-content> 
  <div id="wrap">
  <ion-header>
  
      <div id="intranet">       
         
        <ul>
          <li> <!-- BIenvenido : {{logeado.user.username}}   -->  </li>   
         
          
        </ul>
        <div class="logo-intranet"> <img src="../../../assets/img/logo-footer.png"></div>
        
      </div><!------cierre div intranet header-------->
  
 
  </ion-header>
  <div id="contenido">
    <h1>Modificar transporte</h1>
    <div class="caja-formulario">
    
      <form [formGroup] ="transporte" (ngSubmit)="modTransporte()">      
        <div class="form-group">
          <label for="nombre-empresa">Nombre Transporte</label>
          <input type="text" id="nombre-empresa" placeholder="Ingrese Nombre de transporte"  formControlName="emp_tra">
        </div>
      <div class="form-group">
        <label for="correo">Correo</label>
        <input type="email" id="correo" placeholder="Ej:correo@gmail.com" formControlName="correo">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono"   placeholder="Ej: 958475821" formControlName="telefono">
      </div>
      <div class="form-group">
        <label for="correo">Sector</label>
        <input type="text" id="correo" placeholder="Ingrese Sector" formControlName="sector">
      </div>
      <div class="form-group">
        <label for="cargoServicio">Cargo Servicio</label>
        <input type="number" id="cargoServicio" placeholder="Ej: 10000 sin puntos" formControlName="cargo_ser">
      </div>

      <div class="espacio-entre">
        <button type="submit" class="botoncito btn-agregar-modulo">MODIFICAR</button>
        <button class="botoncito btn-volver" routerLink="/admin/">VOLVER </button>
      </div><!----cierre botones-->
      
    </form>      
     </div><!--------cierre container formulario------> 
    
  </div><!--------CIERRE CONTENIDO-------->
   <footer>

    <div class="footer-izq">
  
      <img src="../../../assets/img/logo-footer.png">
      <div class="parrafo-footer" ><p>Con 2 años de experiencia fabricando ventanas de la mejor calidad.</p></div>
      <div class="faq" ><img src="../../../assets/img/faq.png"><a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a></div>
  
    </div>
    <div class="v-line"></div>
  
    <div class="footer-der">
      <h4>Contáctanos</h4>
      <ul>
        <li><img src="../../../assets/img/whatsapp.png">+56 965789532</li>
        <li><img src="../../../assets/img/correo.png"> <a class="btn-mail" routerLink="/contacto">Contáctanos</a></li>
      </ul>
    </div>
    <div class="footer-centro"><p>Derechos Reservados Ventanas Técnicas 2023 ©</p></div>
   </footer> 
  </div><!-----CIERRE WRAP------>
  </ion-content>
  